<%= image_tag("logo.png", size: "260x100", alt: "travelc") %>

<div class="menubar">
<%= menu_link_to "TOP", :top %> &nbsp;|&nbsp;
<%= menu_link_to "ルーレット", "#" %>&nbsp;|&nbsp;
<%= menu_link_to "国一覧", :countries %>&nbsp;|&nbsp;
<%= menu_link_to "地域一覧", :cities %>&nbsp;|&nbsp;
<%= menu_link_to "おすすめ", "#" %>&nbsp;|&nbsp;
<%= menu_link_to "料理一覧", :food %>&nbsp;|&nbsp;
<%= menu_link_to "名所一覧", "#" %>&nbsp;|&nbsp;
<%= menu_link_to "旅行計画書", "#" %>&nbsp;|&nbsp;
<%= menu_link_to "旅行計画書２", "#" %>&nbsp;|&nbsp;
<%= menu_link_to "管理者用画面", :admin_root %>
</div>
