<% @page_title = "国情報の新規登録" %>

<h1><%= @page_title %></h1>

<%= form_for([:admin,@country]) do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
<br>
      <div class="field">
        <%= f.label :language %><br>
        <%= f.text_field :language %>
      </div>
<br>
      <div class="field">
        <%= f.label :capital %><br>
        <%= f.text_field :capital %>
      </div>
<br>
      <div class="field">
        <%= f.label :area_id %><br>
        <%= f.number_field(:area_id, in: 1..8, step: 1) %>
      </div>
<br>
      <div class="field">
        <%= f.label :popular_ranking %><br>
        <%= f.text_field :popular_ranking %>
      </div>
<br>
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
