<section class="countrytitle">
    <div class="container">
      <%= image_tag("barcelona.png") %>
      <h1>&emsp;バルセロナ（Barcelona）</h1>
</div>
</section>

<section class="info">
    <div class="info">
      <table class="type03">
    <tr>
        <th scope="row">人口</th>
        <td>1,602,386人</td>
    </tr>
    <tr>
        <th scope="row">スポーツ</th>
        <td>サッカー・FCバルセロナ</td>
    </tr>
    <tr>
        <th scope="row">通貨</th>
        <td>ユーロ（€）</td>
    </tr>
    <tr>
        <th scope="row">日本との時差</th>
        <td>-7時間</td>
    </tr>
      </table>

    <div class="map">
      <%= image_tag("map2.png") %>
    </div>
      </div>

  </section>


  <section class="seeing">
    <h2>観光</h2>
    <div class="container">
      <div class="seeing">
        <%= image_tag("spot2.png") %>
      </div>
    </div>
  </section>

  <section class="sns">
    <h2>INSTA</h2>
    <div class="container">
      <div class="sample">
        <%= image_tag("insta2.png") %>
      </div>
    </div>
  </section>

  <section class="spot">
    <h2>地域</h2>
    <div class="container">
      <div class="spot">
        <%= image_tag("spot.png") %>
      </div>
    </div>
  </section>


 <section class="back">
  <a href="">
  <i class="fa fa-arrow-circle-left " aria-hidden="true"></i>
  <%= menu_link_to "TOPに戻る", :top_index %>
  </a>
</section>
